.remove-button {
    margin: 15px 0 15px;
    width: 185px;
    border-radius: 5px;
    color: white;
    background: blue;
    padding: 10px;
    font-size: 17px;
    font-family: Calibri
  }
  .quantity-increment-button {
    margin: 15px 0 15px;
    width: 185px;
    border-radius: 5px;
    color: blue;
    background: white;
    padding: 10px;
    font-size: 17px;
    font-family: Calibri
  }
  .quantity-decrement-button {
    margin: 15px 0 15px;
    width: 185px;
    border-radius: 5px;
    color: blue;
    background: slategray;
    padding: 10px;
    font-size: 17px;
    font-family: Calibri
  }
  .quantity {
    margin: 0;
  }